.main {
  position: relative; /* Set position to relative */
}

.panel {
  position: absolute;
  top: 0;
  right: -100%; /* Hide the panel initially by moving it out of view */
  width: 300px; /* Adjust width as needed */
  height: 100%;
  background-color: #f9f9f9;
  transition: right 0.5s; /* Smooth transition effect */
  z-index: 1;
}

.panel.active {
  right: 0;
}

.selectDiv {
  padding: 20px;
}

.submitDiv {
  padding: 20px;
}